*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

main {
    max-width: 1440px;
    min-height: 100%;
    display: flex;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: antiquewhite;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.balance {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: hsl(10, 79%, 65%);
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid #ccc;
    border-radius: 1rem;
    color: white;
}

.balance-amount {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.chart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
