@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600;700&family=Sometype+Mono&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
    background-color: hsl(27, 66%, 92%);
}

main {
    max-width: 1440px;
    display: flex;
    margin: 20% auto;
    padding-top: 2rem;
   
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    background-color: hsl(27, 66%, 92%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.balance {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: hsl(10, 79%, 65%);
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid #ccc;
    border-radius: 1rem;
    color: white;
}

.balance-amount {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.chart-section {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: 2rem;
    border-radius: 1rem;
    background-color: white;
}

.chart-section h2 {
    padding-left: 2.5rem;
    color: hsl(25, 47%, 15%);

}

.total-balance {
    margin: 0 auto;
    width: 90%;
    display: flex;
    padding: 2rem 0 2rem 0;
    justify-content: space-between;
    border-width: 2px 0 0 0;
    border-color: hsl(10, 79%, 65%, .1);
    border-style: solid;

}
.total-balance p{
    color:#aa9e9e;
}
.total-balance h1,span{
    color: hsl(25, 47%, 15%);
}

.total-balance-percentage {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    text-align: right;
    font-size: bold;
}

@media screen and (min-width: 800px){

    .main-container {
        width: 60%;
    }
}

@media screen and (max-width: 799px) {

    .main-container {
        width: 95%;
    }
    .chart-section {
        gap: 1rem;
    }
    main {
        height: 70vh;
    }
}
